@font-face {
  font-family: "iconfont"; /* Project id 3501462 */
  src: url('iconfont.woff2?t=1676989652523') format('woff2'),
       url('iconfont.woff?t=1676989652523') format('woff'),
       url('iconfont.ttf?t=1676989652523') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-toutiaoyaowen:before {
  content: "\e7d1";
}

.icon-lianxikefu:before {
  content: "\e609";
}

.icon-fanhuidingbu:before {
  content: "\e606";
}

.icon-cansaitubiaozhuanqu-:before {
  content: "\e605";
}

.icon-fankuixinxi:before {
  content: "\e614";
}

.icon-shezhi:before {
  content: "\e604";
}

.icon-drxx25:before {
  content: "\e711";
}

.icon-jibenxinxi:before {
  content: "\e66a";
}

.icon-bangdingshoujihao:before {
  content: "\e62c";
}

.icon-didian:before {
  content: "\e603";
}

.icon-biaoti:before {
  content: "\e6e8";
}

.icon-mingcheng:before {
  content: "\e6ed";
}

.icon-zhuangtailishi:before {
  content: "\e637";
}

.icon-leixing:before {
  content: "\e6d7";
}

.icon-weizhi-:before {
  content: "\e639";
}

.icon-nvshi:before {
  content: "\e6aa";
}

.icon-nanshi:before {
  content: "\e618";
}

.icon-shijian:before {
  content: "\e66b";
}

.icon-jiage:before {
  content: "\e672";
}

.icon-fenlei:before {
  content: "\e602";
}

.icon-xiaoyuanquanzi:before {
  content: "\e632";
}

.icon-xitongxiaoxi:before {
  content: "\e61c";
}

.icon-qunliao:before {
  content: "\100c0";
}

.icon-fangwu:before {
  content: "\e617";
}

.icon-wodefabu:before {
  content: "\e608";
}

.icon-xiaoxi:before {
  content: "\e762";
}

.icon-gerenzhongxin:before {
  content: "\e607";
}

.icon-shiwuzhaoling:before {
  content: "\e600";
}

.icon-luntan:before {
  content: "\e616";
}

.icon-shangpin1:before {
  content: "\ec59";
}

.icon-biaobaiqiang:before {
  content: "\e638";
}

.icon-saozhou_duose_:before {
  content: "\e62a";
}

