/*阿里巴巴矢量图标库配置，样式写在全局中*/
.icon {
    width: 1em;
    height: 1em;
    fill: currentColor;
    overflow: hidden;
    font-family: "iconfont" !important;
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
